/*
	支持css写法
	* 注释：
		* 单行
		* 多行
	* 嵌套
	* 变量
		* 全局
		* 局部
		* 多值变量
		* 特殊变量
 */

//变量

// 主颜色
$mainColor:#5b8c58;

// 高亮颜色
$highlight:#fc0;

// 内边距
$padding:5px 10px*2;

$color:#666;

/*
	导航样式

 */
.nav{

	height:40px;padding:$padding;line-height:40px;background-color: $mainColor;color:#fff;
	ul{list-style:none;padding:0;margin:0;overflow: hidden;}
	li{
		// 局部变量
		$padding:5px 15px 10px 30px;

		float:left;padding:nth($padding,1) nth($padding,2);position: relative;color:$color;
		a{display: inline-block;color:#fff;}
		a.home{background-color: $highlight;}
		ul{
			// 在局部定义全局变量
			$color:#ccc !global;
			position: absolute;padding:5px 20px;color:$color;
			a:hover{color:$mainColor;}
		}
	}
	li:last-child{float: right;}
}

// 特殊变量使用
// @for $i from 1 to 7
@for $i from 1 through 6{
	h#{$i}{
		font-size:36px/($i/2);
		background-color:darken($highlight,$i*5);
	}
}