#header{
     position:relative;
}
.list{
    height: 4442px;
    
}
/*固定样式*/
.fixation{
    
    position:absolute;
    right: 0;
    top: 360px;
    float: left;
    position:fixed;
   
}
.fixation img{
    width: 20px;
    height: 20px; 
    
    margin: 4px 6px;
}
.fixation li{
    width: 36px;
    height: 36px;
    border:1px solid #ddd;
    background-color: #FAFAFA;
    margin-bottom: 30px;


}

.num{
    width: 20px;
    height: 20px;
    border:1px solid #ccc;
    border-radius:50%;
    position:absolute;
    right: 0;
    top: -12px;
    background-color: red;
    color:#fff;
    text-align: center;
    font-size: 10px;
}

 .hint{display: none;
         position:absolute;
         margin-left: -140px;
         margin-top: 10px;
            color:red;
            padding: 10px;
            width: 120px;
            font-size: 10px;
            border:1px solid #FAFAFA;
            background-color: #FAFAFA;
            text-align: center;
        }

.details .cont{
    height:100%;
}
.details .details-t{
    height: 670px;
    margin-bottom: 65px;
    margin-top: 16px;
    
}
 .details-t .details-tl{
    width: 562px;
    height: 670px;
    float: left;
   
 }
 .details-t .details-tr{
    width: 615px;
    height: 670px;
    float: right;
  
 }
.details .details-b{
    height: 4768px;
   
}
.details .details-bl{
    height: 100%;
    width: 238px;
    float: left;
   
}
.details .details-br{
    width: 944px;
   height: 100%;
    float: right;
    
}
.details-t h5{
    padding: 25px;
    font-size: 10px;

}
.details-tll{
    width: 114px;
    float: left;
    position:relative;
}
.details-tlr{
    width: 448px;
    float: right;
}
.details-bl h5{
    font-size: 10px;
    background-color: #FAFAFA;
    border:1px solid #ddd;
    padding: 14px;
    margin-top: 24px;
    margin-left: 3px;

}
.details-bl{
    width: 234px;
}

.henggang{
    width: 40px;
    height: 6px;
}
.goodslist2{
     height: 1200px;
    width: 238px;
    
    border:1px solid #ddd;
}
.details-bl  li{
        height: 240px;
        width: 238px;
       

}
.details-bl  .content{
    font-size: 12px;
    color:#535353;
    margin-left: 6px;
    
}
.details-bl .price{
    font-size: 10px;
    color:#D1A36A;
     margin-left: 20px;
   
  
}

.details-bl  .alibi{
    font-size: 10px;
    color:#969696;
  
}
.details-bl .goodslist1 img{
    width: 100px;
    height: 136px;
    margin-left: 60px;
   margin-bottom: 6px;
   margin-top: 6px;
}
.details-bl .goodslist2{
     height: 742px;
    width: 238px;
    
    border:1px solid #ddd;
}
.details-bl .goodslist2 img{
    width: 100px;
    height: 136px;
    margin-left: 60px;
   margin-bottom: 6px;
   margin-top: 6px;
}
.empty{
    
    font-size: 10px;
    margin-left: 80px;
  
}
.tab{
    padding:2px;
    width:944px;}
.tab header{
    padding-bottom:2px;
    
    overflow:hidden;
background-color: #ccc;}
.tab header div{
    float:left;
  margin-left: 6px;
  padding-right: 20px;
  padding: 16px;
  margin-right: 20px;
    }
 .tab .active{
    background-color: #fff;color:red;
    border:2px solid red;

}


.consult{
    height: 84px;
    padding: 10px 10px;
    border:1px solid #ddd;
    margin-top: 10px;
}
.consult .sousuo{
    float: left;
    width: 200px;
    height: 84px;
}
.consult .sousuo h5{
   
    font-size: 12px;
    color:#535353;
}
.consult .sousuo input{
    width: 106px;
    height: 30px;
     border:1px solid #ddd;
}
.content  button{
    padding: 10px;
    text-align: center;
    font-size: 10px;
    background-color: #FCE8EA;
    border-radius:10px;
    margin-left: 10px;
}
.consult  .tishi{
    margin-right: -10px;
    font-size: 12px;
    color:#535353;
    line-height: 20px;
}
 .quiz{
    height: 192px;
    margin-top: 20px;
    border:1px solid #ddd;

}
 .quiz h5{
    font-size: 10px;
    color:#959595;
    margin-top: 6px;
    margin-left: 10px;
}
.quiz textarea{
width: 440px;
height: 80px;
margin-bottom: 6px;
margin-left: 10px;
}

/*详情页上部分*/
.details-tll ul{
   margin-top: 60px; 
}
.details-tll ul li{
    width: 62px;
    height: 62px;
    margin-left: 20px;
    margin-bottom: 8px;
    
    border:1px solid #ddd;
}
.details-tll ul li img{
    width: 62px;
    height: 62px;
}
#loopPic .liCover{
    border:1px solid red;
}
.details-tlr .details3{
    width: 400px;
    height: 400px;
    margin-top: 40px;
}
.details-tlr .details21{
   
    margin-top: 20px;
}
.galleryup{
    
   top: 20px;
   left: 36px;
    position:absolute;
}
.gallerydown{
    position:absolute;
    bottom: -10px;
    left: 145px;
}
.centent{
    padding: 6px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;

}
.shangxin{
    color:red;
    font-size: 12px;
    line-height: 20px;
}
.mamijia{
font-size: 10px;
color:#ccc;
height: 60px;
line-height: 60px;
}
.shichangjia{
    margin-left:100px;  
    line-height: 60px;
}
.neirong{
    height: 76px;
    width: 596px;
    border-bottom: 1px  dotted #ccc;
}
.dinggou{
    height: 10px;
    margin: 30px;
    font-size: 12px;
    display: block;
    margin-left: 1px;
}
.dinggou div{
    float: left;
}
.dinggou button{
    background-color: #fff;
    text-align: center;
    border:1px solid #ddd;
}
.dinggou .aa{
    color:#525252;
}
.minus,.add{
    width: 20px;
    height: 20px;
}
.shuliang{
    width: 40px;
    height: 20px;
    text-align: center;
     border:1px solid #ddd;
}
.dinggou .bb{
    color:red;
    margin-left: 40px;
}
.like{
    width: 20px;
    height: 20px;
 

}
.collect{
    font-size: 14px;
    color:#969696;
}
#oPrice{
    font-weight: bold;
    font-size: 20px;
    color:red;
}
 .gds-zoom-big img{
    min-width:1000px;
   
}
 .smallList img{width: 80px;}
